*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
}

header {
    background-color: #0184FD;
    color: white;
}

footer {
    background-color: #333333;
}

section.started,
footer {
    text-align: center;
}

.violet-bg{
    background-color: #9792E4;
}

section.header-nav{
    padding: 1rem;
}

section.cards,
section.plannings,
section.benefits,
section.testimonials,
section.about-us {
    flex-direction: column;
}
section.cards,
section.about-us{
    margin: 1.5rem;
}

section.cards div.card {
    background-color: #B5DDFB;
    margin-bottom: 1.5rem;
    height: 100px;
}

section.plannings,
section.benefits {
    height: 100%;
    padding: 1.5rem;
}

div.planning,
div.benefit-card {
    height: 20%;
}

div.right-planning,
div.benefit-card {
    background-color: white;
}

section.testimonials{
    height: 200px;
    margin: 1.5rem;
}

div.testimonial,
div.benefit-card{
    height: 50px;
    margin-bottom: 1.5rem;
}


/************************************************ 
Tablet 
***************************************************/

@media screen and (min-width: 768px) {
    section.cards,
    section.benefits {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div.card {
        width: calc((100% / 3) - 1rem) ;
    }
    div.principal {
        width: calc(((100% / 3) * 2) - .5rem);
    }
    div.benefit-card {
        width: calc(50% - 1rem);
    }

    section.about-us{
        flex-direction: row;
    }
    div.about-title {
        width: 60%;
    }
    div.about-img {
        text-align: center;
        width: 40%;
    }

}



